<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning"> 
	<div class="col">
		<%= link_to('Logout', destroy_admin_session_path, method: :delete, class:'btn btn-outline-secondary float-right') %>
	</div>
</nav>
