<<<<<<< HEAD
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning">



	<div class="col">
		<%= link_to('Logout', destroy_admin_session_path, method: :delete, class:'btn btn-outline-secondary float-right') %>
	</div>
=======
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning"> 
	<div class="col">
		<%= link_to('Logout', destroy_admin_session_path, method: :delete, class:'btn btn-outline-secondary float-right') %>
	</div>	
>>>>>>> 80aa6a7fa1bf8cede929302c73c691a2fb514ed5
</nav>
