body{
  background-color: #333130;
}

.header{
  background-color: #ff7e42;
}

.konten{
  background-color:  #EB9268;
}

@font-face {
  font-family: 'Sean-Henrich-ATF-Bold';
  font-style: normal;
  font-weight: normal;
  src: url(font/Sean-Henrich-ATF-Bold.woff);
  }

@font-face {
  font-family: 'ClanOT-NarrowThin';
  font-style: normal;
  font-weight: normal;
  src: url(font/ClanOT-NarrowThin.woff);
  }

  @font-face {
    font-family: 'GTPressura-Bold';
    src: url("font/GT-Pressura-Bold.otf") 
    format("opentype");
  }


  .CLAPPING {
    font-size: 72px;
    font-family: Sean-Henrich-ATF-Bold;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #276fbf;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .CLAPPING {
        font-size: 100px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .CLAPPING {
          font-size: 30px;
        }
      }

  .APE {
    font-size: 72px;
    font-family: Sean-Henrich-ATF-Bold;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d81159;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .APE {
        font-size: 100px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .APE {
          font-size: 30px;
        }
      }
  
  .PROJECT {
    font-size: 55px;
    font-family: ClanOT-NarrowUltra;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff7e42;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .PROJECT {
        font-size: 70px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .PROJECT {
          font-size: 20px;
        }
      }

  .LIST {
    font-size: 55px;
    font-family: ClanOT-NarrowUltra;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff7e42;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .LIST {
        font-size: 70px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .LIST {
          font-size: 20px;
        }
      }

  .label{
    font-family: ClanOT-NarrowUltra;
    color: #276fbf;
    font-size:20px;
    
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .label {
        font-size: 25px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .label {
          font-size: 15px;
        }
      }


  .client {
    font-family: ClanOT-NarrowUltra;
    color: #d81159;
    font-size:30px;
    background-color: #EB9268;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .client {
        font-size:40px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .client {
          font-size: 15px;
        }
      }

  .isi {
    font-family: ClanOT-NarrowUltra;
    color: #d81159;
    font-size:20px;
    background-color: #EB9268;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .isi {
        font-size:25px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .isi {
          font-size:8px;
        }
      }

  .urlnya {
    font-family: ClanOT-NarrowUltra;
    color: #d81159;
    font-size:20px;
    text-decoration:underline;
    background-color: #EB9268;
  }
    @media only screen and (min-width: 1025px) and (min-height: 601px){
      .urlnya {
        font-size:25px;
      }
    }
      @media only screen and (max-width: 360px) and (max-height: 640px){
        .urlnya {
          font-size:8px;
        }
      }
