/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../f../fonts/poppins/Poppins-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("TrueType");
}

@font-face {
  font-family: 'Aquatico';
  src: url("titlefonts/Aquatico-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Baryon';
  src: url("titlefonts/Baryon Display SSi.ttf") format("TrueType");
}

@font-face {
  font-family: 'Pressura';
  src: url("titlefonts/GT-Pressura-Bold.otf") format("opentype");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
  background-color: #333130;
}

/* ------------------------------------ */

a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/* ------------------------------------ */

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/* ------------------------------------ */

input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Login ]*/

.konten {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
}

.btn {
  color: white;
  background-color: #B4541E;

}

.forget {
  color: #ffffff;
  margin-top: -2px;
}

.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0;
}

.logo1 {
  color: #0c618e;
  margin-top: 15%;
  font-size: 40px;
  font-family: Aquatico;
}

.logo2 {
  color: #8e4820;
  margin-left: -25px;
  margin-top: 15%;
  font-size: 40px;
  font-family: Aquatico;
}

.logo3 {
  color: #41342e;
  margin-top: -0.5px;
  margin-left: 61.5%;
  font-size: 12px;
}

.kotak1 {
  opacity: 0.5;
  margin-top: -10px;
  height: 32%;
  background-color: #cc783d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.kotak2 {
  opacity: 0.5;
  margin-top: -14%;
  height: 25%;
  background-color: #432818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
/*//////////////////////////////////////////////////////////////////
[ Login 600p ]*/
@media only screen and (max-width: 1024px) and (min-height: 600px) {
  .konten {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
  }
  .forget {
    margin-top: -14px;
  }
  .rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0;
  }
  .logo3 {
    color: #41342e;
    margin-top: -0.5px;
    margin-left: 60.5%;
    font-size: 12px;
  }
  .kotak1 {
    margin-top: -10px;
    height: 33%;
  }
  .kotak2 {
    margin-top: -17%;
    height: 25%;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Login 900p ]*/
@media only screen and (max-width: 1440px) and (min-height: 900px) {
  .konten {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
  }
  .rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .logo1 {
    font-size: 60px;
  }
  .logo2 {
    color: #8e4820;
    margin-left: -25px;
    margin-top: 15%;
    font-size: 60px;
  }
  .logo3 {
    color: #41342e;
    margin-top: -0.5px;
    margin-left: 60%;
    font-size: 20px;
  }
  .kotak1 {
    margin-top: -10px;
    height: 30%;
  }
  .kotak2 {
    margin-top: -17%;
    height: 25%;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Login ipad]*/
@media only screen and (max-width: 768px) and (min-height: 1024px) {
  .konten {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11%;
    margin-bottom: auto;
  }
  .rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .forget {
    color: #ffffff;
    margin-top: -6px;
  }
  .logo1 {
    font-size: 60px;
  }
  .logo2 {
    color: #8e4820;
    margin-left: -25px;
    margin-top: 15%;
    font-size: 60px;
  }
  .logo3 {
    color: #41342e;
    margin-top: -0.5px;
    margin-left: 60.5%;
    font-size: 20px;
  }
  .kotak1 {
    height: 50%;
  }
  .kotak2 {
    opacity: 0.7;
    margin-top: -40%;
    height: 45%;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Login IOS]*/
@media only screen and (max-width: 414px) and (max-height: 812px) {
  .konten {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
  }
  .btn {
    color: white;
    background-color: #ff7e42
  }
  .forget {
    color: #ffffff;
    margin-top: -8px;
    font-size: 12px
  }
  .rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0;
  }
  .logo1 {
    font-size: 35px;
  }
  .logo2 {
    color: #8e4820;
    margin-top: 15%;
    font-size: 35px;
  }
  .logo3 {
    color: #41342e;
    margin-top: -0.5px;
    margin-left: 61.5%;
    font-size: 12px;
  }
  .kotak1 {
    margin-top: -10px;
    height: 50%;
  }
  .kotak2 {
    margin-top: -50%;
    height: 45%;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Login HP]*/
@media only screen and (max-width: 360px) and (max-height: 640px) {
  .konten {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
  }
  .btn {
    color: white;
    background-color: #ff7e42
  }
  .forget {
    color: #ffffff;
    margin-top: -2px;
    font-size: 12px
  }
  .rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0;
  }
  .logo1 {
    font-size: 35px;
  }
  .logo2 {
    color: #8e4820;
    margin-top: 15%;
    font-size: 35px;
  }
  .logo3 {
    color: #41342e;
    margin-top: -0.5px;
    margin-left: 61.5%;
    font-size: 12px;
  }
  .kotak1 {
    margin-top: -10px;
    height: 50%;
  }
  .kotak2 {
    margin-top: -50%;
    height: 45%;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Judul ]*/

.CLAPPING {
  font-size: 72px;
  font-family: Aquatico;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00487c;
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 1025px) {
  .CLAPPING {
    font-size: 100px;
    font-family: Aquatico;
  }
}

@media only screen and (max-width: 414px) {
  .CLAPPING {
    font-size: 30px;
    font-family: Aquatico;
  }
}

.APE {
  font-size: 72px;
  font-family: Aquatico;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ae582a;
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 1025px) {
  .APE {
    font-size: 100px;
    font-family: Aquatico;
  }
}

@media only screen and (max-width: 414px) {
  .APE {
    font-size: 30px;
    font-family: Aquatico;
  }
}

.PROJECT {
  font-size: 55px;
  font-family: Baryon;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6700;
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 1025px) {
  .PROJECT {
    font-size: 70px;
  }
}

@media only screen and (max-width: 360px) {
  .PROJECT {
    font-size: 20px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 812px) {
  .PROJECT {
    font-size: 30px;
  }
}

.LIST {
  font-size: 55px;
  font-family: Baryon;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff6700;
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 1025px) and (min-height: 601px) {
  .LIST {
    font-size: 70px;
  }
}

@media only screen and (max-width: 360px) and (max-height: 640px) {
  .LIST {
    font-size: 20px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 812px) {
  .LIST {
    font-size: 30px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  background: #333130;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #EB9268;
}

.row.header {
  background: #ff7e42;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .row.header {
    padding: 0;
    height: 0px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #333130;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #d81159;
  line-height: 1.2;
  font-weight: unset !important;
  background-color: #EB9268;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #276fbf;
  line-height: 1.2;
  font-weight: unset !important;
  background-color: #ff7e42;
  padding-top: 19px;
  padding-bottom: 19px;
}

.row .cell:nth-child(1) {
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 160px;
}

.row .cell:nth-child(3) {
  width: 250px;
}

.row .cell:nth-child(4) {
  width: 190px;
}

.table, .row {
  width: 100% !important;
}



@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  .row .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #d81159;
    line-height: 1.2;
    font-weight: unset !important;
  }
  .table, .row, .cell {
    width: 100% !important;
  }
}

.bg-color-nav{
  background-color: #FF742C;
}
